@using Microsoft.AspNetCore.Components.Authorization
@using Portfolio.Components.Login


@inherits LayoutComponentBase


<div class="main">
	<Header />

	<div class="pad-sides" style="flex-grow: 1; margin: 2% 0;">
		@Body
	</div>

	<Footer />
</div>