<Title>Unauthorized</Title>

<div class="main">
	<EmptyHeader />

	<div class="pad-sides" style="flex-grow: 1;">
		You are not logged in.


		<NavLink href="/login">
			Login
		</NavLink>
	</div>

	<Footer />
</div>
