:root {
	--background-color: #ffffff;
	--background-color-dark: #f9f9f9;
	--background-color-2: #808080;
	--background-color-3: #000000;
	--text-color: #000000;
	--text-color-2: #ffffff;
	--text-color-3: #ffffff;
}

footer {
	text-align: center;
	color: var(--text-color-3);
	background-color: var(--background-color-3);
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--background-color);
}

.pad-sides {
	padding: 0 20%;
}

.login-box {
	display: flex;
	flex-direction: column;
	justify-self: center;
	height: 50%;
	width: 50%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
}

nav {
	display: flex;
	justify-content: space-around;
}

	nav a{
		color: black;
		text-decoration: none;
		font-size: larger
	}

	nav a:hover {
		color: white;
		text-decoration: none;
	}

.text-indent-wrap {
	text-indent: -1.5em;
	padding-left: 1.5em;
}

.grid-2-col {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: stretch;
	justify-content: center;
	align-items: stretch;
}

@media (max-width: 768px) {
	.grid-2-col {
		grid-template-columns: 1fr;
	}
}

img.grid-item {
	max-width: 100%;
	height: auto;
}

.grid-item {
	padding: 20px;
	text-align: center;
	object-fit: cover;
}

	.grid-item:hover {
		border: 1px solid black;
	}

.grid-item-link {
	text-decoration: none;
	color: inherit;
}

.sidebar {
	width: 200px;
	padding: 1rem;
	border-right: 1px solid var(--background-color-2);
	background-color: var(--background-color-dark);
}