:root {
	--background-color: #ffffff;
	--background-color-2: #808080;
	--background-color-3: #000000;
	--text-color: #000000;
	--text-color-2: #ffffff;
	--text-color-3: #ffffff;
}

footer {
	text-align: center;
	color: var(--text-color-3);
	background-color: var(--background-color-3);
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--background-color);
}

.pad-sides {
	padding: 0 20%;
}

.login-box {
	display: flex;
	flex-direction: column;
	justify-self: center;
	height: 50%;
	width: 50%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
}

nav {
	display: flex;
	justify-content: space-around;
}

	nav a{
		color: black;
		text-decoration: none;
		font-size: larger
	}

	nav a:hover {
		color: white;
		text-decoration: none;
	}


.grid-2-col {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: stretch;
	align-items: stretch;
}

.grid-item {
	border: 1px solid black;
	padding: 20px;
	text-align: center;
	object-fit: cover;
}