@page "/about"


@using Portfolio.Layout


@layout MainLayout


<div class="grid-2-col">
	<div class="grid-item" style="text-align: start">
		<h3 style="text-align: center">
			SHORT SUMMARY
		</h3>
		I am in my third year of my BSc Computer Science course at the University of Southampton, currently working at a 2:1/ 1st level. I am looking for a graduate job starting July 2023. I have experience in Unity and C#, and have also worked at a high level in Java. I am greatly interested in games development and coding.
	</div>

	<img class="grid-item" style="object-position: top;" src="images/About.jpg" height="400px" />

	<div class="grid-item" style="text-align: start">
		<h3 style="text-align: center">
			EDUCATION
		</h3>
		Bachelor’s Degree (Honours) in Computer Science, University of Southampton (ongoing – averaging 2:1/1st)<br/>
		<br />
		Completed modules include: Games Design and Development, Programming, Algorithmics, Foundations of Computer Science, Computer Systems, Further Programming, Theory of Computing, Distributed Systems & Networks, Principles of Cyber Security, Web and Cloud based Security<br />
		<br />
		Modules that will be completed by July include: Games Design and Development, Individual Project (Unity), Web Based Security<br />
		<br />
		A-levels, Brighton Hove & Sussex Sixth Form College<br />
		Mathematics A*, Further Mathematics A, Physics A
	</div>

	<div class="grid-item" style="text-align: start">
		<h3 style="text-align: center">
			TECHNICAL SKILLS
		</h3>
		Languages:<br />
		- C#: Strong with using C#, with work experience using it in a large project.<br />
		- Java: Good knowledge of Java, with a first in a university module using Java to code a user controllable game.<br />
		- Python: Happy using Python to complete tasks.<br />
		- PHP: Have used and can understand PHP on a basic level<br />
		<br />
		Applications:<br />
		- Unity: I have used Unity to help develop a large scale project for a client in a commercial environment, and created my own small projects too.<br />
		- Microsoft Office: Comfortable using Excel functions in order to process data, and using Word and other Office applications such as PowerPoint, Publisher, Outlook etc.
	</div>
</div>