@page "/contact"


@using Portfolio.Layout


@layout MainLayout


<Title>Contact</Title>


<h1>Get in Touch</h1>
<p>
	Whether you have a question, a project idea, or just want to say hi —
	I'd love to hear from you.
</p>

<div style="display: flex; flex-direction: column; align-items: center;">
	<div>
		📧
		<a href="mailto:ben250402@yahoo.co.uk"
		   class="btn btn-primary"
		   style="margin: 10px;">
			E-mail
		</a>
	</div>

	<div>
		💼
		<a href="https://www.linkedin.com/in/ben-alexander-829750223"
		   target="_blank"
		   class="btn btn-primary"
		   style="color: #0a66c2; margin: 10px;">
		   LinkedIn
		</a>
	</div>

	<div>
		🐙
		<a href="https://github.com/ben-alex-and-er"
		   target="_blank"
		   class="btn btn-primary"
		   style="color: white; margin: 10px;">
		   GitHub
		</a>
	</div>

</div>