@page "/contact"


@using Portfolio.Layout


@layout MainLayout


<Title>Contact</Title>


<section class="contact-section">
	<h1>Get in Touch</h1>
	<p>
		Whether you have a question, a project idea, or just want to say hi -
		I'd love to hear from you.
	</p>

	<br />

	<div class="contact-links">
		<a href="mailto:ben250402@yahoo.co.uk" class="contact-link email">
			📧 <span>Email</span>
		</a>

		<a href="https://www.linkedin.com/in/ben-alexander-829750223"
		   target="_blank"
		   class="contact-link linkedin">
			💼 <span>LinkedIn</span>
		</a>

		<a href="https://github.com/ben-alex-and-er"
		   target="_blank"
		   class="contact-link github">
			🐙 <span>GitHub</span>
		</a>
	</div>
</section>
