@page "/home"


@using Portfolio.Layout


@layout MainLayout


<Title>Home</Title>


<section class="hero">
	<h1>Welcome, @fullName!</h1>

	<p>
		I am a results-driven Infrastructure Developer with over 2 years of commercial programming experience with an expertise in backend architecture and software design, particularly in API, SQL and Linq. I am passionate about building efficient, scalable systems and working in collaborative, agile environments.
	</p>

	<div class="cta-buttons">
		<a href="projects" class="btn btn-primary">My Projects</a>
		<a href="about" class="btn btn-secondary">About Me</a>
	</div>
</section>