@page "/login"


@using Portfolio.Components.Login
@using Portfolio.Layout


@layout LoginLayout


<Title>Login</Title>

@* 
<div class="login-box">
	Username:
	<InputText DisplayName="UserName" @bind-Value=username />

	Password:
	<InputText DisplayName="Password" @bind-Value=password />

	<button style="margin-top: 10px;" @onclick=Submit>
		Submit
	</button>
</div>
 *@

<div class="login-box">
	<h1>Welcome Back</h1>
	<label>Sign in to continue to your account</label>

	<GoogleSignInButton />

	<p>Sign in is used for analytic use only.</p>
</div>