@page "/login"


@using Portfolio.Layout


@layout LoginLayout


<Title>Login</Title>


<div class="login-box">
	Username:
	<InputText DisplayName="UserName" @bind-Value=username />

	Password:
	<InputText DisplayName="Password" @bind-Value=password />

	<button style="margin-top: 10px;" @onclick=Submit>
		Submit
	</button>
</div>
