@page "/login"


@using Portfolio.Components.Login
@using Portfolio.Layout


@layout LoginLayout


<Title>Access Restricted</Title>


<div class="login-box">
	<h1>Access Restricted</h1>
	<p>You need to sign in to view this page.</p>

	<GoogleSignInButton />

	<p>Signing in is optional and only used for analytics and demo purposes.</p>

	<div class="divider">
		<span>or</span>
	</div>

	<a href="home" class="btn btn-guest">Continue as Guest</a>
</div>
