@page "/projects"


@using Portfolio.Layout


@layout MainLayout


<Title>Projects</Title>


<div class="grid-2-col">
	<a href="projects/portfolio" class="grid-item-link">
		<div class="grid-item">
			<h1>Portfolio Website</h1>
			<img style="object-position: top;" src="images/Logo.png" height="400px" />
			<label>This is my portfolio website</label>
		</div>
	</a>

	<a href="projects/commandcenter" class="grid-item-link">
		<div class="grid-item">
			<h1>Command Center</h1>
			<img style="object-position: top;" src="images/CommandCenterSignIn.png" height="400px" />
			<label>This is the command center</label>
		</div>
	</a>
</div>
