@page "/projects"


@using Portfolio.Layout


@layout MainLayout


<Title>Projects</Title>


<div class="grid-2-col">
	<a href="projects/portfolio" class="grid-item-link" width="100%">
		<div class="grid-item">
			<h1>Portfolio Website</h1>
			<img style="object-position: top;" src="images/Logo.png" height="400px" />
			<label>This website!</label>
		</div>
	</a>

	<a href="projects/commoncode" class="grid-item-link" width="100%">
		<div class="grid-item">
			<h1>Common Code</h1>
			<img style="object-position: top;" src="images/Common Code/code.png" height="400px" />
			<label>This is my personal library of common code I can use in different projects</label>
		</div>
	</a>

	<a href="projects/rankedapi" class="grid-item-link" width="100%">
		<div class="grid-item">
			<h1>Ranked API (Elo)</h1>
			<img style="object-position: top;" src="images/Ranked API/Ranked API.png" height="400px" />
			<label>This is an API that can be used to store users along with updating elo rankings</label>
		</div>
	</a>

	<a href="projects/commandcenter" class="grid-item-link" width="100%">
		<div class="grid-item">
			<h1>Command Center</h1>
			<img style="object-position: top;" src="images/CommandCenterSignIn.png" height="400px" />
			<label>This is the command center</label>
		</div>
	</a>

	<a href="projects/cavediver" class="grid-item-link" width="100%">
		<div class="grid-item">
			<h1>Cave Diver</h1>
			<img style="object-position: top;" src="images/Cave Diver/Title Screen.png" height="400px" />
			<label>This is the cave diver</label>
		</div>
	</a>
</div>
